@font-face {
  font-family: UBUNTU;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: UBUNTU,serif;
}
body{
  display: block;
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  width: 100vw;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
  position: relative;
  width: 100vw;
  height: 160px;
  background: url(./assets/images/bg-sidebar-mobile.svg);
}
.navig-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 6vh;
}
.navig-area div {
  width: 5vh;
  height: 5vh;
  border: .5px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: .8rem;
  background: transparent;
}
.sec1:hover,.sec2:hover,.sec3:hover,.sec4:hover,.navig-area .selected {
  background: lightblue;
  color: rgb(32, 32, 165);
  cursor:pointer;
  border-color: rgb(5, 5, 240);
}
.main {
  position: relative;
  top: -10vh;
  width: 90vw;
  height: 57vh;
  margin: 0 auto;
  background: #3333;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 #ccc;
  background-color: hsl(0, 0%, 100%);
}
.page1,.page2,.page3,.page4,.congrats-page{
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 3vh;
}
/* Page 1 */
.infobox {
  width: 70vw;
}
.heading {
  padding-bottom: 2vh;
  color: hsl(213, 96%, 18%);
  text-shadow: 1px 1px 1px hsl(213, 96%, 18%);
}
.description {
  font-size: .95rem;
  color: #99b;
  line-height: 20px;
}
.page1 label {
  font-size: .8rem;
  color: hsl(213, 96%, 18%);
  padding-bottom: 5px;
  padding-top: 15px;
}
.page1 label::after {
  content: '*';
  color: red;
}
.page1 input {
  height: 30px;
  padding: 10px;
  color: #666;
  border: 1px solid hsl(229, 24%, 87%);
}
.details {
  display: flex;
  flex-direction: column;
}


/* page 2 */
.page2 .details {
  justify-content: space-evenly;
  align-items: center;
  height: 38vh;
}
.options {
  display: flex;
  flex-direction: row;
  width: 73vw;
  height: 9vh;
  font-size: .85rem;
  color:hsl(213, 96%, 18%);
  border-radius: 5px;
  border: 1px solid #9993;
}
.options img {
  transform: scale(.6);
}
.arcade,.advanced,.pro,.service,
.storage,.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cost1,.cost2,.cost3 {
  font-size: .7rem;
  color: #4448;
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: .9rem;
  width: 73vw;
  height: 6vh;
  padding: 0 50px;
  background: hsl(217, 100%, 97%);
}
.check {
  width: 40px;
  height:20px;
  border-radius: 25px;
  background: hsl(213, 96%, 18%);
  cursor: pointer;
}
.ball{
  position: relative;
  top: 3.5px;
  left: 2.5px;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(20.5px,-.3px);
  background: white;
}
.mon {
  color: hsl(213, 96%, 18%);
  font-size: .75rem;
  font-weight: 800;
}
.year {
  color: #3334;
  font-size: .75rem;
  font-weight: 800;
}
/* page 3 */
.page3 .details{
  height: 35vh;
  justify-content: space-evenly;
}
.page3 .options{
  padding: 15px;
}
.service,.storage,.profile {
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: hsl(213, 96%, 18%);
  font-size: .8rem;
  font-weight: 800;
}
.name {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  padding-top: 5px;
}
.name::before{
  position: absolute;
  transform: translateY(15px);
  width: 200px;
  height: 15px;
  font-size: .7rem;
  color: #4447;
  font-weight: 500;
}
.service .name::before{
  content: 'Access to multiplayer games';
}
.storage .name::before{
  content: 'Extra 1TB of cloud save';
}
.profile .name::before{
  content: 'Custom theme on your profile';
}
.page3 input {
  width: 20px;
}
.page3 .cost1,.page3 .cost2,.page3 .cost3 {
  color: hsl(243, 100%, 62%);
  opacity: .6;
  transform: translateX(-15px);
}
/* page 4 */
.page4 .infobox {
  padding-bottom: 15px;
}
.final-prices{
  display: flex;
  font-size: .75rem;
  padding: 5px 15px 15px 15px;
  justify-content: space-evenly;
  flex-direction: column;
  background: hsl(217, 100%, 98.5%);
  border-radius: 5px;
}
.plan {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #3333;
  font-weight: 800;
  color: hsl(213, 96%, 18%);
}
.service1,.service2, .service3 {
  display: flex;
  font-size: .7rem;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  color: #4447;
}
.change {
  font-size: .7rem;
  text-decoration: underline;
  color: #4447;
  cursor: pointer;
  font-weight: 100;
}
.change:hover {
  color: hsl(213, 96%, 18%);
}
.charge {
  font-size: .7rem;
  color: hsl(213, 96%, 18%);
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .77rem;
  color: #4447;
  padding: 20px 15px;
}
.total .charge {
  font-size: .8rem;
  font-weight: bolder;
  color:hsl(243, 100%, 62%);
}
/* congrats page */
.congrats-page {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10vh;
}
.congrats-page img {
  transform: scale(1.5);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 10px solid rgb(253, 129, 129);
  border-radius: 50%;
}
.logo::before {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  border-radius: 50px;
  transform: rotate(-45deg);
  border: 10px solid ;
  border-color: transparent transparent rgb(245, 91, 91) transparent;
} 
.h2 {
  padding: 3vh 0;
  font-weight: 800;
  color: hsl(213, 96%, 18%); 
}
.congrats{
  text-align: center;
  font-size: .9rem;
  color: hsl(212, 7%, 58%)
}
/* foot area */
.foot {
  padding: 10px;
  position: relative;
  bottom: -7vh;
  width: 100vw;
  height: 11vh;
  background: white;
}
.prev,.next {
  width: 25vw;
  height: 6vh;
  border-radius: 5px;
  background: hsl(213, 96%, 18%);
  color: white;
  font-size: .75rem;
  font-weight: 800;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 15px;
}
.prev {
  background: none;
  color: #99b;
  border: none;
}
.none {
  display: none;
}