@font-face {
  font-family: UBUNTU;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: UBUNTU,serif;
}
body{
  display: block;
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
  position: relative;
  width: 100vw;
  height: 160px;
  background: url(./assets/images/bg-sidebar-mobile.svg);
  background-size: cover;
}
.navig-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  max-width: 200px;
  height: 6vh;
}
.navig-area div {
  width: 40px;
  height: 40px;
  border: .5px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding-top: 12px;
  font-size: .75rem;
  font-weight: 800;
  background: transparent;
}
.sec1:hover,.sec2:hover,.sec3:hover,.sec4:hover,.navig-area .selected {
  background: lightblue;
  color: rgb(27, 27, 153);
  cursor:pointer;
  border-color: rgb(5, 5, 240);
}
.main {
  position: relative;
  top: -50px;
  width: 90vw;
  max-width: 350px;
  height: 57vh;
  margin: 0 auto;
  background: #3333;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 #ccc;
  background-color: hsl(0, 0%, 100%);
}
.page1,.page2,.page3,.page4,.congrats-page{
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 3vh;
}
/* Page 1 */
.infobox {
  width: 70vw;
  max-width: 290px;
}
.heading {
  padding-bottom: 2vh;
  color: hsl(213, 96%, 18%);
  text-shadow: 1px 1px 1px hsl(213, 96%, 18%);
}
.description {
  font-size: .95rem;
  color: #99b;
  line-height: 20px;
}
.page1 label {
  font-size: .8rem;
  color: hsl(213, 96%, 18%);
  padding-bottom: 5px;
  padding-top: 15px;
}
.page1 label::after {
  content: '*';
  color: red;
}
.page1 input {
  height: 30px;
  padding: 10px;
  color: #666;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
}
.details {
  display: flex;
  flex-direction: column;
}
.empty {
  box-shadow: 0 0 0 1px red;
}
.page1 .empty2::before {
  position: absolute;
  right: 30px;
  font-size: .7rem;
  content: 'This field is required.';
  color: red;
}

/* page 2 */
.page2 .details {
  justify-content: space-evenly;
  align-items: center;
  height: 38vh;
}
.options {
  display: flex;
  flex-direction: row;
  width: 73vw;
  max-width: 290px;
  height: 9vh;
  font-size: .85rem;
  color:hsl(213, 96%, 18%);
  border-radius: 5px;
  border: 1px solid #9993;
  cursor: pointer;
}
.options img {
  transform: scale(.6);
}
.arcade,.advanced,.pro,.service,
.storage,.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cost1,.cost2,.cost3 {
  font-size: .7rem;
  color: #4448;
}
.extra::after {
  padding-left: 5px;
  color: hsl(213, 96%, 18%);
  font-weight: 800;
  content : '2 months free';
}
.opted {
  border: 1px solid blueviolet;
  background-color: hsl(217, 100%, 97%);
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: .9rem;
  width: 73vw;
  max-width: 290px;
  height: 6vh;
  padding: 0 50px;
  background: hsl(217, 100%, 97%);
}
.check {
  width: 40px;
  height:20px;
  border-radius: 30px;
  font-size: .7rem;
  background: #ccc;
  cursor: pointer;
}
.ball{
  position: relative;
  top: 3px;
  left: 2.5px;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(0,-.5px);
  transition: transform .2s ease-in-out;
  background: white;
}
.mon {
  color: hsl(213, 96%, 18%);
  font-size: .75rem;
  font-weight: 800;
}
.year {
  color: #3334;
  font-size: .75rem;
  font-weight: 800;
}
/* page 3 */
.page3 .details{
  height: 35vh;
  justify-content: space-evenly;
}
.page3 .options{
  padding: 15px;
}
.service,.storage,.profile {
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: hsl(213, 96%, 18%);
  font-size: .8rem;
  font-weight: 800;
}
.page3 .options::after{
  content :"";
  position: absolute;
  width: 20px;
  height: 20px;
}
.name {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  padding-top: 5px;
}
.name::before{
  position: absolute;
  transform: translateY(15px);
  width: 200px;
  height: 15px;
  font-size: .7rem;
  color: #4447;
  font-weight: 500;
}
.service .name::before{
  content: 'Access to multiplayer games';
}
.storage .name::before{
  content: 'Extra 1TB of cloud save';
}
.profile .name::before{
  content: 'Custom theme on your profile';
}
.page3 input {
  width: 20px;
}
.page3 .cost1,.page3 .cost2,.page3 .cost3 {
  color: hsl(243, 100%, 62%);
  opacity: .6;
  transform: translateX(-15px);
}
/* page 4 */
.page4 .infobox {
  padding-bottom: 15px;
}
.final-prices{
  display: flex;
  font-size: .75rem;
  padding: 5px 15px 15px 15px;
  justify-content: space-evenly;
  flex-direction: column;
  background: hsl(217, 100%, 98.5%);
  border-radius: 5px;
}
.plan {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #3333;
  font-weight: 800;
  color: hsl(213, 96%, 18%);
}
.plan-name{
  font-size: .9rem;
}
.type{
  font-size: .8rem;
}
.service1,.service2, .service3 {
  display: flex;
  font-size: .7rem;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  color: #4447;
}
.change {
  font-size: .7rem;
  text-decoration: underline;
  color: #4447;
  cursor: pointer;
  font-weight: 100;
}
.change:hover {
  color: hsl(213, 96%, 18%);
}
.charge {
  font-size: .7rem;
  color: hsl(213, 96%, 18%);
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .77rem;
  color: #4447;
  padding: 20px 15px;
}
.total .charge {
  font-size: .8rem;
  font-weight: bolder;
  color:hsl(243, 100%, 62%);
}
/* congrats page */
.congrats-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10vh;
}
.congrats-page img {
  transform: scale(1.5);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 10px solid rgb(253, 129, 129);
  border-radius: 50%;
}
.logo::before {
  position: absolute;
  width: 27px;
  height: 27px;
  content: '';
  border-radius: 50px;
  transform: rotate(-45deg) translate(1px,3px);
  border: 10px solid ;
  border-color: transparent transparent rgb(245, 91, 91) transparent;
} 
.h2 {
  padding: 3vh 0;
  font-weight: 800;
  color: hsl(213, 96%, 18%); 
}
.congrats{
  text-align: center;
  font-size: .85rem;
  line-height: 18px;
  color: hsl(212, 7%, 58%)
}
/* note */
.note {
  position: absolute;
  transform:translateY(-30px);
  text-align: center;
  width: 100vw;
  padding: 0 20vw;
  font-size: .8rem;
}
.note>i{
  display: inline;
  color: red;
}
/* foot area */
.foot {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  padding-right: 15px;
}
.prev,.next, .submitted {
  width: 25vw;
  max-width: 120px;
  height: 6vh;
  border-radius: 5px;
  background: hsl(213, 96%, 18%);
  color: white;
  font-size: .75rem;
  font-weight: 800;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 15px;
  z-index: 2;
}
.next:hover {
  filter: brightness(1.5);
}
.prev {
  position: absolute;
  background: none;
  color: #99b;
  border: none;
  left: 15px;
}
.prev:hover{
  color: #555;
}
.submitted{
  position: absolute;
  background: blue;
}
.submitted:hover{
  background: rgb(2, 2, 216);
}
.return{
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}
@media screen and (min-width: 750px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 750px;
    height:550px;
    background: white;
    box-shadow: 0 5px 15px 0 #3333;
    border-radius: 15px;
    padding: 10px;
  }
  .nav{
    background:url(./assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    top:0;
    height: 530px;
    width: 200px;
    border-radius: 15px;
  }
  .navig-area{
    flex-direction: column;
    width: 200px;
    height: 230px;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
  }
  .navig-area div::before {
    color:white;
    font-size: .6rem;
    font-weight: 100;
    position: absolute;
    transform: translate(33px,-8px)   
  }
  .sec1::before{content:"STEP 1";}
  .sec2::before{content:"STEP 2";}
  .sec3::before{content:"STEP 3";}
  .sec4::before{content:"STEP 4";}
  .navig-area div::after {
    color:white;
    font-size: .85rem;
    font-weight: 800;
    letter-spacing: 2px;
    position: absolute;
    transform: translate(25px,8px)   
  }
  .sec1::after{content:"YOUR INFO"}
  .sec2::after{content:"SELECT PLAN"}
  .sec3::after{content:"ADD-ONS"}
  .sec4::after{content:"SUMMARY"}
  .main{
    top: 0;
    max-width: 530px;
    width: 530px;
    height: 470px;
    padding: 30px;
    box-shadow: none;
  }
  .page1 input{
    width: 350px;
    height: 35px;
    border-radius: 7px;
  }
  .page1 .empty2::before{
    right: 150px;
  }
  .page2 .details{
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 0;
    width: 410px;
    height: 250px;
  }
  .page2 .options {
    width: 130px;
    height: 150px;
    padding: 10px;
  }
  .page2 img {
    position: absolute;
    transform: scale(1.2) translate(5px, 10px);
  }
  .page2 .arcade,.page2 .advanced,.page2 .pro {
    position: absolute;
    bottom: 120px;
    height: 50px;
    width: 120px;
    font-size: 1.2rem;
  }
  .page2 .checkbox{
    position: absolute;
    left: 90px;
    bottom: 30px;
    transform: scale(1.2);
  }
  .page3 .details {
    gap: 25px;
    padding-top: 50px;
    padding-left: 25px;
    position: absolute;
    left: 30px;
  }
  .page3 .options {
    transform: scale(1.2);
  }
  .page4 .details{
    width: 350px;
    transform: scale(1.2) translate(30px, 30px);
  }
  .congrats-page {
    width: 480px;
  }
  .h2{
    font-size: 2rem;
  }
  .congrats{
    line-height: 25px;
    font-size: 1.15rem;
  }
  .foot{
    position: absolute;
    width: 400px;
    transform: scale(1.1) translate(230px,-80px)
  }
  .return {
    left: -15px;
  }
  .infobox{
    max-width: 450px;
  }
  .note{
    position: absolute;
    top: 620px;
    width: fit-content;
    left: 300px;
    padding: 0 0;
  }
}
